* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    min-height: 100vh; /* altura minima */
    background-color: #273746; /* color de fondo */
    display: flex;/* para que la calculadora este centrada*/
    justify-content: center; /* para que la calculadora este centrada*/
    align-items: center; /* para que la calculadora este centrada*/
}

.calculadora {
    background-color: #34495E; /* color de fondo */
    color: white;
    width: 350px; /* ancho de calculadora */
    max-width: 100%;/* para que la pantalla sea el ancho maximo */
    padding: 1.5rem;/* para separar la calculadora de los bordes */
    border-radius: 1rem ;/* forma de los bordes */
    display: grid; /* ordenacion de calculadora */
    grid-template-columns: repeat(4, 1fr); /* ordenacion de calculadora, en 4 columnas */
    gap: .5rem /* mejorando la agrupacion, separamos los botones entre si */
}

.pantalla{
    grid-column: 1 / -1; /* ancho de la pantalla de la calculadora */
    background-color: #273746; /* le ponemos a la pantalla el mismo color que el fondo */
    padding: 1.4rem;/* alto de la pantalla de la caluladora */
    font-size:  1.5rem; /* para que se vea mas grande  */
    text-align: right;/* para que el 0 siempre este alineado a la derecha */
    border-radius: .5rem; /* forma de los bordes */
    margin-bottom: 1rem; /* para alejarlo de los botones */
    font-weight: 300;/* para que la letra este mas gruesa */
    
}

.btn {
    background-color: #34495E; /* color de fondo */
    color: #FDFEFE; /* color de los numeros de los botones */
    border: 0;/* les sacamos el borde */
    padding: 1.5rem .5rem; /* tamaño de los botones */
    display: flex;
    justify-content: center; /* botnes centrados */
    align-items: center; /* botones centrados */
    border-radius: .5rem;/* forma de los bordes */
    cursor: pointer;/* cursor */
}

.btn:hover {
    background-color: #273746;/* color de seleccionado de los botones */
}

#cero{
    grid-column: 1 / 3; /* para que el 0 ocupe dos columnas o span2 */
}

#igual{
    grid-row: span 2; /* para que el = ocupe dos columnas o span2 */
    background-color: #D35400; /* color del igual */

}

#igual:hover {
    background-color: #A04000;/* color de seleccionado del boton = */
}